extends ../../layout.jade
block contenido
  div(class="col-md-6 remove-float center-block  big-top-space")
    form(action="/users",method="POST")
      div(class="form-group")
        label(for="email") Email
        input(type="text", name="email",placeholder="Email",id="email", class="form-control")
      div(class="form-group")
        label(for="username") Nombre de usuario
        input(type="text", name="username",placeholder="Nombre de usuario",id="username", class="form-control")
      div(class="form-group")
        label(for="name") Nombre completo
        input(type="text", name="name",placeholder="Nombre completo",id="username", class="form-control")
      div(class="form-group")
        label(for="password") Contrase単a
        input(type="password", name="password",placeholder="Contrase単a",id="password",class="form-control")
      div(class="form-group")
        label(for="password_confirmation") Confirmar contrase単a
        input(type="password", name="password_confirmation",placeholder="Reingrese la contrase単a",id="password_confirmation",class="form-control")
      div(class="form-group")
        label(for="admin") Permisos de administrador
        input(type="checkbox", name="admin", value="true")
      div(class="top-space form-group text-center")
        input(type="submit", value="Agregar usuario", class="btn btn-info")
